version: 2.1
jobs:
  build:
    machine:
      enabled: true
      # Use Ubuntu 14.04 with bleeding edge Docker daemon 17.06.0-ce.
      image: buster-20220822-slim  
    steps:
        - checkout
        - run:
            name: The First Step
            command: |
              echo 'Hello World!'
              echo 'This is the delivery pipeline'
        - checkout
        - run:
            name: Installing g++
            command: sudo apt-get update && sudo apt-get install build-essential   
        - checkout
        - run:
            name: run gcc
            command: bash gcc.sh 

        - checkout
        - run:
            name: cppcheck
            command: sudo apt install cppcheck && bash cppcheck.sh

        - checkout
        - run:
            name: config script
            command: bash commissioning.sh
            
            
          
            
            
