version: 2.1
jobs:
  build:
    docker:
      - image: "cimg/base:2022.03"   
    steps:
        - checkout
        - run:
            name: The First Step
            command: |
              echo 'Hello World!'
              echo 'This is the delivery pipeline'
        - checkout
        - run:
            name: Installing g++
            command: bash gcc.sh

        - checkout
        - run:
            name: cppcheck
            command: sudo apt install cppcheck && bash cppcheck.sh

        - checkout
        - run:
            name: config script
            command: bash commissioning.sh
