version: 2.1
jobs:
  build:
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
            echo 'This is the delivery pipeline'
     - run:
         name: Magic Pod E2E test
         command: bash run_magic_pod_test.sh
      - run:
          name: The Second Step
          command: bash commissioning.sh
