version: 2.1
jobs:
  build:
    docker:
      - image: "cimg/base:2022.03"
    steps:
      - checkout
      
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
            echo 'This is the delivery pipeline'
    steps:
      
      - run: g++ commissioning-server.cpp -lpqxx -lpq -std=c++14 -o commissioning-server -static-libstdc++ -ljsoncpp -lcrypt
    steps: 
      - run:
          name: The Second Step
          command: bash commissioning.sh
