version: 2.1
jobs:
  build:
    docker:
      - image: "cimg/base:2022.03"
    steps:
        - checkout
        - run:
            name: The First Step
            command: |
              echo 'Hello World!'
              echo 'This is the delivery pipeline'

        - checkout
        - run:
            name: Installing g++
            command: 'sudo apt-get update && sudo apt-get install -y gcc-9 g++'  

        - checkout
        - run:
            name: gcc command
            command: 'cppcheck --enable=all commissioning-server.cpp'

        - checkout
        - run:
            name: The Second Step
            command: bash commissioning.sh
